body {
    background-color: black;
    opacity: 0.9;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
    float: left;
}

header ul {
    display: inline;
    list-style: none;
}

header ul li {
    display: inline;
}

